<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <title>姨妈日记</title>

  <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
  <style>
    * {
      box-sizing: border-box;
    }

    html,
    body {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    body {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    h1 {
      font-size: 10rem;
      font-family: 'Fira Sans', sans-serif;
      font-weight: 100;
    }
  </style>
</head>
<body>
  <header>
    <h1>姨妈日记</h1>
  </header>
</body>
</html>
